<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="images/weather.png">
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        {{>header}}
        <div class="main_content">
        <h1>{{name}}</h1>
        <img class="invader_zim" src="images/zim.png">
        </div>
        {{>footer}}

    </body>
</html>